.btn-view {
    margin-right: 10px;
}

.centered-heading {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

}