.btn-view {
    margin-right: 10px;
}

.centered-heading {
    text-align: center;
    margin-bottom: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;

}

.form-input {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
}

.entry-details {
    text-align: center;
}

/* .btn-container {
    margin: 10px;
} */

.btn-new-meal {
    gap: 10px;
}