* {
  background-color: rgb(76, 83, 86);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 100px;
}

main {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

h1 {
  padding-top: 20px;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav.navbar ul li {
  list-style-type: none;
  display: inline-block;
}

ul-breakfast-menu {
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.form-button {
  background-color: rgb(146, 225, 220);
}

form input#id {
  width: 500px;
  background-color: white;
  color: black;
}

form select#fruit {
  width: 500px;
  background-color: white;
  color: black;
}

form select#grains {
  width: 500px;
  background-color: white;
  color: black;
}

form select#drink {
  width: 500px;
  background-color: white;
  color: black;
}

input {
  width: 500px;
  background-color: white;
  color: black;
}

select {
  width: 500px;
  background-color: white;
  color: black;
}

nav.navbar a {
  color: white;
}

nav.navbar {
  padding-left: 650px;
}

button#delete-button {
  background-color: red;
}

button#edit-button {
  background-color: rgb(47, 139, 237);
}

button#new-entry-button {
  background-color: rgb(47, 219, 133);
}

button#update-button {
  background-color: rgb(255, 100, 28);
}

button#home-button {
  background-color: rgb(232, 35, 97);
}

button#join-now {
  background-color: blueviolet;
}

table {
  background-color: lightgray;
}

footer {
  height: 310px;
  background-color: rgb(45, 48, 50);
  color: white;
  padding-bottom: 30px;
}

div.app {
  padding-bottom: 300px;
}

div.footer-button {
  padding-top: 100px;
}

div.container {
  padding-left: 40px;
  padding-right: 40px;
}